.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem;

	color: $color-text-primary;

	background-color: $color-surface-header;
	border-radius: $border-radius-medium;

	&__btn-close {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
