.sign-in {
	max-width: 65rem;
	margin: 8rem auto;

	&__logo-p-form {
		padding: 8rem 8rem 5rem 8rem;
		text-align: center;

		background-color: $color-surface-primary;
		border-radius: $border-radius-large;
	}

	&__logo {
		font-family: 'Libre Barcode 39 Text', cursive;
		font-size: 12.8rem;
		color: $color-text-primary;
	}

	&__form {
		margin-top: 8rem;
		margin-bottom: 5rem;

		& > :not(:last-child) {
			margin-bottom: 2rem;
		}

		input {
			display: block;
			padding: 2.8rem;
			width: 100%;

			color: $color-text-primary;

			background-color: $color-surface-quarternary;
			border-radius: $border-radius-normal;
			border-style: none;
		}

		input::placeholder {
			color: $color-text-tertiary;
		}
	}

	&__btn-alternate {
		margin-top: 2rem;
		padding: 3.3rem 0;
		width: 100%;

		color: $color-text-secondary;
		text-align: center;

		background-color: $color-surface-quarternary;
		border-radius: $border-radius-medium;
		border: thin solid $color-border-primary;

		cursor: pointer;

		&:hover {
			background-color: $color-surface-secondary;
		}

		span {
			color: $color-text-primary;
		}
	}
}
