.container {
	max-width: 100rem;
	margin: 8rem auto;
	padding: 1rem;

	background-color: $color-surface-primary;
	border-radius: $border-radius-large;
}

.container-small {
	max-width: 65rem;
	margin: 8rem auto;
}

.container-normal {
}

.container-medium {
}

.container-large {
}

.absolute {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.bordered {
	border: thin solid $color-border-primary;
}
